<div class="ngtw">

    <div class="ngtw__head" ng-if="ctrl.title">
        <i class="fa-solid fa-graduation-cap"></i>
        <span>{{ ctrl.title }}</span>
    </div>

    <!-- The theme is not the one running, or its scripts have not landed yet. -->
    <div class="ngtw__unavailable" ng-if="!ctrl.available">
        <i class="fa-solid fa-circle-info"></i>
        <span>The tour needs the Nightglass theme to be active.</span>
    </div>

    <div class="ngtw__body" ng-if="ctrl.available">

        <button type="button" class="ngtw__start" ng-if="ctrl.mode === 'button'"
                ng-click="ctrl.start(0)">
            <i class="fa-solid fa-play"></i>
            <span>Take the tour</span>
        </button>

        <div class="ngtw__list" ng-if="ctrl.mode === 'list'">
            <button type="button" class="ngtw__chapter"
                    ng-repeat="chapter in ctrl.chapters"
                    ng-click="ctrl.start($index)"
                    title="{{ chapter.body }}">
                <i class="ngtw__chapter-icon {{ chapter.icon }}"></i>
                <span class="ngtw__chapter-title">{{ chapter.title }}</span>
                <i class="ngtw__chapter-go fa-solid fa-chevron-right"></i>
            </button>
        </div>

        <button type="button" class="ngtw__reset" ng-if="ctrl.showReset && !ctrl.wasReset"
                ng-click="ctrl.reset()">
            <i class="fa-solid fa-rotate-left"></i>
            <span>Show again on next visit</span>
        </button>

        <div class="ngtw__reset ngtw__reset--done" ng-if="ctrl.wasReset">
            <i class="fa-solid fa-check"></i>
            <span>The tour will open again on your next visit.</span>
        </div>

    </div>

</div>
